{% set vars =
  {
    'mail_width': '600',
    'logo_file': site_name|clean_class ~ '-logo.png',
    'logo_width': '200',
    'logo_height': '80'
  }
%}

<html>
  <head>
    <style type="text/css">
    {# Embed compiled css. #}
    {% include '@compony/swiftmailer/dist/swiftmailer.css' ignore missing %}
    </style>
  </head>
  <body>
  <div class="swiftmailer">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="swiftmailer__outer-table">
        <tr>
          <td align="center" valign="top">
            <table width="{{ vars.mail_width }}" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="{{ vars.mail_width }}" height="20">&nbsp;</td>
              </tr>
              <tr>
                <td width="{{ vars.mail_width }}" valign="middle" align="left">
                  {# Print logo. #}
                  {% set logo = _self|split('/', -1)|join('/') ~ '/dist/' ~ vars.logo_file %}
                  <img src="{{ base_url }}/{{ logo }}" width="{{ vars.logo_width }}"  height="{{ vars.logo_height }}" alt="{{ site_name }}" style="max-width: {{ vars.mail_width }}px; display: block;" border="0" hspace="0" vspace="0" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table width="{{ vars.mail_width }}" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="{{ vars.mail_width }}" style="width: {{ vars.mail_width }}px;">
                  <div class="swiftmailer__content" style="padding: 20px 0 20px 0; width: {{ vars.mail_width }}px;">
                    <br>
                    {{ body }}
                    <br>
                  </div>
                </td>
              </tr>
            </table>
            <table width="{{ vars.mail_width }}" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="{{ vars.mail_width }}" style="width: {{ vars.mail_width }}px;">
                  <div class="swiftmailer__footer" style="width: {{ vars.mail_width }}px;">
                  <h4>
                    {{ site_name }}
                    {% if site_slogan %}
                    - {{ site_slogan }}
                    {% endif %}
                  </h4>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
