@import "sass-essentials";

body {}

.swiftmailer {
  table {}
  tr {}
  td {}
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  p {}
  a {}

  &__outer-table {}
  &__content {}
  &__footer {}
}
